<?php

declare(strict_types = 1);

namespace {{ namespace }};

{% if use %}
use {{ interface }};

{% endif %}
/**
 * Trait for classes that utilize the {{ service_id}} service.
 */
trait {{ class }} {

  /**
   * Get the {{ service_id }} service.
   *
   * @return {{ interface }}
   *   The {{ service_id }} service.
   */
  protected function {{ method }}(): {{ interface_short }} {
    return \Drupal::service('{{ service_id }}');
  }

}
